.App {
  position: absolute;
  text-align: center;
  top: 0;
  margin-left: 20vw;
}

.App-content {
  background-color: #F3F3F3;
  width: 80vw;
}

.App-header {
  background-color: #FFF;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-sidebar {
  background-color: #32323A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 20vw;
}

.App-sidebar--item {
  padding-left: 1rem;
}

.item {
  padding-left: .4em;
  text-align: left;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.App-user {
  display: flex;
  margin-left: auto;
  margin-right: 2rem;
}

.App-user--name {
  color: #000;
  font-size: small;
}

.App-link {
  color: #61dafb;
}

.App-brand {
  background-color: #000;
  color: #FFF;
  width: 1.8em;
}

.App-logo {
  margin: .5em;
}

.App-nav {
  text-transform: uppercase;
  padding: .5em;
  font-size: .8em;
  border: 1px solid;
  border-left: 0;
  border-right: 0;
}

.App-heading {
  font-size: 1.5em;
  text-align: left;
  padding: 1em;
}

.App-table--data {
  text-align: left;
}

.bx--link {
  padding-left: .5em;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
} 

.bx--table-head .bx--table-row {
  border-bottom: 0;
}

.bx--responsive-table {
  width: 76vw;
  margin: 0 0 0 2vw;
}

.bx--responsive-table td {
  padding: 1rem 1rem 1rem 0.375rem!important;
}

.bx--footer {
  border-top: 0;
  margin-left: 20vw;
  width: 80vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
